@import 'rupture/*'
@import 'helper/*'
@import 'fonts/*'
@import 'grid/*'

// setup html root font-size for rem units
html
	font-size 10px

//gloabal styles
a
	tr(.3s)

img
	vertical-align top


@import 'blocks/*'
@import 'rtl/*'




