.cart
	position relative
	display inline-block
	height 50px
	width 62px
	text-align right

	+below(600px)
		height 40px

	&:hover,
	&:focus
		opacity-light()

	&__label
		position absolute
		top 0
		left 0
		display inline-block
		height 27px
		width 27px
		color light
		font-size 18px
		line-height 30px
		text-align center
		border-radius(50%)
		background label

	&__icon
		display inline-block
		height 40px
		width 40px
		margin-top 10px
		background-image: url(images/static/cart.png)
		bg-image()

		+below(600px)
			height 30px
			width 30px
			margin-right 10px
