.header
	padding-bottom 25px
	border-top 5px solid brand-light-1

	&__links
		margin-bottom 1px

	&__user-list
		text-align left

		+below(large)
			text-align right


	&__search
		padding-top 13px

	&__cart
		padding-top 4px
		padding-left 3px
		text-align left
