.b-header-user-list
	display inline-block
	margin-left -10px
	clearfix()

	+below(large)
		margin-left 0px

	+below(600px)
		margin-top -1px

	&__item
		float right
		padding-top 20px
		padding-bottom 3px
		padding-x(10px)
		-webkit-border-bottom-left-radius 5px
		-moz-border-bottom-left-radius 5px
		-o-border-bottom-left-radius 5px
		border-bottom-left-radius 5px
		-webkit-border-bottom-right-radius 5px
		-moz-border-bottom-right-radius 5px
		-o-border-bottom-right-radius 5px
		border-bottom-right-radius 5px
		tr(.4s)

		+below(tablet)
			padding-top 10px

		&:hover
			background brand-light-1

			+below(large)
				&:hover
					background transparent

			+below(600px)
				&:hover
					background brand-light-1

		&_hasbg
			background brand-light-1

	&__link
		display inline-block
		font-size 18px
		color dark
		text-decoration none

		+below(smallest)
			font-size 12px

