.b-logo
	display inline-block
	width 100%
	max-width 250px

	+below(tablet)
		max-width 160px

	&__link
		display inline-block
		color brand-dark
		text-decoration none

	&__img
		width 100%

	&__text
		display block
		margin-top 3px
		padding-x(4px)
		font-size 24px
		text-align left

		+below(tablet)
			font-size 16px
