.b-menu
	// display inline-block
	clearfix()
	vertical-align top
	text-align center

	+above(large)
		display inline-block !important

	+below(large)
		display none
		border-top 4px solid brand-light-2

	> li
		float right
		display block

		+below(large)
			float none
			border-bottom 1px solid brand-light-2

		> a
			display inline-block
			padding-top 18px
			padding-bottom 9px
			padding-x(22px)
			color light
			font-size 30px
			line-height 34px
			text-decoration none

			+below(large)
				display block

			&:hover,
			&:focus
				color brand-light-1

	> li.active

		> a
			color brand-light-1
