.search

	&__wrap
		position relative

		&:after
			content ''
			position absolute
			left 9px
			top 8px
			display block
			height 28px
			width 21px
			background-image url(images/static/loupe.png)
			bg-image()

			+below(600px)
				height 14px
				width 10px

	&__input
		position relative
		display block
		padding-top 12px
		padding-bottom 10px
		width 100%
		padding-right 18px
		padding-left 40px
		font-size 18px
		border none

		+below(600px)
			padding-top 6px
			padding-bottom 5px

