//text colors
main = #000 				//pure black color
light = #fff				//pure white text color
dark = #231f20				//almost black color for some text
brand-dark = #243276		//navbar dark blue bg color
brand-light-1 = #ffdf7f		//yellow color
brand-light-2 = #ffe780		//another lighten yellow color
brand-light-3 = #fff080		// lightest yellow color
label = #ff9805				//orange color for small elements
btn = #1d36b3				//btn blue color
border = #747474			//grey border color


//fonts
font-regular = 'carmelit_regularregular', Gisha, sans-serif
font-bold = 'carmelit_boldbold', Gisha, sans-serif

//font weight
tiny = 300
regular = 400
semibold = 600
bold = 700

//size
large = 1100px
medium-plus = 980px
medium = 960px
tablet = 768px
mobile = 660px
smallest = 480px
